* {
    background-color: #303030;
    color: white;

}

a {
    display: flex;
}

a:hover {
    color: orange;
    transform: scale(1.01);
    text-shadow: 0 0 5px #abf0ff, 0 0 10px #abf0ff;
}

ul li {
    list-style-type: none;
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    text-decoration: none;
}

li {
    display: inline-block;
    margin: 0 15px;
    padding: 10px;
}